<%- include('../partials/boilerplate') %> 
<%- include('../partials/navbar') %> 

<title>Add A New Ticket</title>

<form action="/flights/<%= flight.id %>/tickets/" method="POST" >
    <label for="seat"><b>Seat:</b>  </label>
    <input name="seat" type="text" required pattern="[A-F][1-9]\d?">
    <br>
    <label for="price"><b>Price:</b></label>
    <input type="number" name="price">
    <br>
    
    <br>
    <input type="submit" value="Add Ticket">
</form>